/* ABSTRACTS */
/* VARIABLES */
/* BASE */
/* --------     PANTALLA GRANDE ------ */
@media (max-width: 992px) {
  body {
    /* ------- FOOTER --------- */
    /* ------------ PORTADA ----------- */
    /*------- PRESENTACION --------- */
    /* -------- SIMULADOR ------ */
    /*----- OPINIONES  ------ */
    /* ------- GARANTIA ---------*/
  }
  body header .nav .menu li {
    font-size: 1em;
  }
  body header .logo {
    font-size: 1.5em;
    margin-top: 2.3rem;
  }
  body footer .condiciones p {
    font-size: 0.55em;
  }
  body .portada h5 {
    font-size: 3em;
  }
  body .contenido .contrato {
    margin: 2rem;
  }
  body .contenido .contrato ol {
    margin: 3rem 1rem;
  }
  body .contenido .contrato ol li {
    padding: 0.5rem;
  }
  body .simulador .form h2 {
    font-size: 3em;
    padding: 1.2rem;
  }
  body .simulador .form .subtitulo {
    font-size: 1em;
  }
  body .opiniones {
    margin: 10% 0rem;
  }
  body .opiniones .slide img {
    margin-left: 0%;
  }
  body .opiniones .slide h5 {
    margin-left: 55%;
    font-size: 1.3em;
  }
  body .opiniones .slide p {
    margin-left: 55%;
    font-size: 1.3em;
  }
  body .garantia {
    font-size: 1.5em;
  }
}

/* ---------    TABLET      ----------- */
@media (max-width: 768px) {
  body {
    /* --------     FOOTER   --------- */
    /* ------------ PORTADA ----------- */
    /*------- PRESENTACION --------- */
    /* --------     SIMULADOR    ------ */
    /*--------- OPINIONES   --------- */
    /* ------- GARANTIA ---------*/
  }
  body header .nav .menu li {
    font-size: 0.8em;
  }
  body header .logo {
    font-size: 1.2em;
    margin-top: 2.5rem;
  }
  body footer .condiciones p {
    font-size: 0.4em;
  }
  body .portada h5 {
    font-size: 2em;
  }
  body .contenido .contrato {
    margin: 2rem;
  }
  body .contenido .contrato img {
    width: 50%;
  }
  body .contenido .contrato ol {
    margin: 3rem 1rem;
  }
  body .contenido .contrato ol li {
    padding: 0.5rem;
  }
  body .simulador .form h2 {
    font-size: 3em;
    padding: 1.2rem;
  }
  body .opiniones {
    margin: 10% 0rem;
  }
  body .opiniones .slide img {
    margin-left: 0%;
  }
  body .opiniones .slide h5 {
    margin-left: 72%;
    font-size: 1.1em;
  }
  body .opiniones .slide p {
    margin-left: 77%;
    font-size: 1.1em;
    margin-bottom: 8rem;
  }
  body .garantia {
    font-size: 1em;
  }
}

/* ----------   CELULAR     ---------- */
@media (max-width: 576px) {
  body {
    /* -------  FOOTER ------*/
    /* ------------ PORTADA ----------- */
    /*------- PRESENTACION --------- */
    /* -------- SIMULADOR ------ */
    /*----- OPINIONES  ------ */
    /* ------- GARANTIA ---------*/
  }
  body header .nav .menu li {
    font-size: 0.6em;
  }
  body header .logo {
    font-size: 1em;
    margin-top: 2.8rem;
  }
  body footer .condiciones p {
    font-size: 0.3em;
  }
  body .portada h5 {
    font-size: 2em;
    margin-bottom: 10%;
  }
  body .contenido {
    display: none;
  }
  body .contenido .contrato {
    margin: 2rem;
  }
  body .contenido .contrato img {
    width: 10%;
  }
  body .contenido .contrato ol {
    margin: 3rem 1rem;
  }
  body .contenido .contrato ol li {
    padding: 0.5rem;
  }
  body .simulador {
    margin-left: 25%;
  }
  body .simulador .form h2 {
    font-size: 3em;
    padding: 1.2rem;
  }
  body .opiniones .slide h5 {
    margin-left: 20%;
    font-size: 1.1em;
  }
  body .opiniones .slide p {
    margin-left: 20%;
    font-size: 1.1em;
    margin-bottom: 8rem;
  }
  body .garantia {
    font-size: 0.8em;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  background: whitesmoke;
  width: 100%;
  height: 100%;
}

/* LAYOUT */
/* ----footer */
footer {
  margin-top: 2rem;
  background-color: #d5d5d5;
}

footer .condiciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .condiciones p {
  font-size: 0.7em;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 1rem;
  text-align: justify;
}

footer .credito {
  padding: 1rem;
  color: white;
  background-color: #1a374d;
  text-align: center;
}

footer .credito .redes {
  display: inline;
  margin: 0 0.5rem;
}

header {
  background-color: #1b80bb;
}

header .nav {
  background-color: rgba(0, 0, 0, 0.548);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .nav .menu li {
  font-size: 1.5em;
  line-height: 5.625rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem;
}

header .nav .menu li a {
  color: white;
  font-style: italic;
  font-family: "PT Serif", serif;
  padding: 1rem;
  border-radius: 30px;
}

header .nav .menu li a:hover {
  background-color: #1b80bb;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  color: black;
}

header .logo {
  font-family: "PT Serif", serif;
  font-size: 2em;
  color: #ffffff;
  font-style: italic;
  margin-top: 1.8rem;
}

/* PAGES */
/* ------------ PORTADA ----------- */
.portada h5 {
  font-size: 4em;
  margin-bottom: 20%;
  text-shadow: 4px  6px black;
}

/*------- PRESENTACION --------- */
.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenido .contrato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem;
  background-color: #757575;
}

.contenido .contrato ol {
  margin: 5rem 2rem;
  list-style: none;
  text-align: justify;
}

.contenido .contrato ol li {
  font-style: italic;
  font-family: "Merriweather", serif;
  margin: 1rem;
  color: #FF9800;
}

/* -------- SIMULADOR ------ */
.tit_simu {
  font-family: "Merriweather", serif;
  font-size: 0.5rem;
  margin: 1rem;
}

.simulador {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.simulador .form {
  background-color: #1b80bb;
  border: solid 10px #084f79;
  border-radius: 50px;
  color: #ffffff;
  margin-bottom: 1rem;
}

.simulador .form h2 {
  font-size: 4em;
  padding: 1rem;
  color: #d5d5d5;
}

.simulador .form .subtitulo {
  font-size: 1em;
  margin: 0.9375em;
}

.simulador .form .formstyle {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.simulador .form .btncalcular {
  font-size: 1em;
  padding: 0.5rem;
  border: solid 1px white;
  border-radius: 50px;
  background-color: #084f79;
  color: white;
}

/* ------ REQUISITOS ----- */
.preguntas {
  margin: 4rem 1rem;
  font-family: "Merriweather", serif;
  font-size: 1em;
}

.requisitos {
  padding-left: 20%;
  font-family: "PT Serif", serif;
}

/*----- OPINIONES  ------ */
.opiniones {
  margin: 15% 0rem;
}

.opiniones .slide {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opiniones .slide img {
  margin-left: 13%;
}

.opiniones .slide h5 {
  width: 50%;
  margin-left: 53%;
  font-family: "Merriweather", serif;
  color: black;
}

.opiniones .slide p {
  margin-left: 55%;
  margin-bottom: 15%;
  font-family: "Merriweather", serif;
  color: black;
}

/* ------- GARANTIA ---------*/
.garantia {
  margin-top: 5rem;
  text-align: center;
  font-size: 2em;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  color: black;
}
/*# sourceMappingURL=main.css.map */