/* ----footer */
footer{
    margin-top: 10rem;
    font-family: 'Courier New', Courier, monospace;
}

.condiciones{
font-size: 0.8em;
}

.garantia{
    font-size: 1.2em;
    font-weight: 800;
    margin-top: 1rem;
}