/* ----footer */
footer{
    margin-top: 2rem;
    background-color: #d5d5d5;
    .condiciones{
        display: flex;
       p{
        font-size: 0.7em;
        font-family: 'Courier New', Courier, monospace;
        margin: 0 1rem;
        text-align: justify;
       }} 
    
       .credito{
        padding: 1rem;
        color: white;
        background-color: #1a374d;
        text-align: center;
        .redes{
        display: inline;
        margin: 0 0.5rem;
        }
       }
}