header {
  background-color: #d5d5d5;
      .nav {
        display: flex;
        justify-content:center;
        .menu {
          display: flex;
          list-style: none; 
          li {
            font-size: 1.5em;
            line-height: 5.625rem;
            width: max-content; 
            padding: 0.5rem;
          a {
            color: rgb(38, 47, 170);
            font-style: italic;
            font-family: $font2;
    
        }}} }

      .logo{
        font-family: $font2;
        font-size: 2em;
        color: #56a7ca;
        font-style: italic;
        margin-top: 1.6rem;
    }
    
    .descripcion{
      font-family: $font;
      font-size: 2em;
       font-weight: 900;
      color: #212121;
      margin: 2rem; 
    }
  }