header {
  background-color: #1b80bb;
      .nav {
        background-color: rgba(0, 0, 0, 0.548);
        display: flex;
        justify-content:center;
        .menu {
          display: flex;
          list-style: none; 
          li {
            font-size: 1.5em;
            line-height: 5.625rem;
            width: max-content; 
            padding: 0.5rem;
          a {
            color: rgb(255, 255, 255);
            text-shadow: 2px  3px black;
            font-style: italic;
            font-family: $font2;
            padding: 1rem;
            border-radius: 30px;
            &:hover{
              background-color: #1b80bb;
              transition: ease-in 0.5s;
              text-shadow: none;
            }
    
        }}} }

      .logo{
        font-family: $font2;
        font-size: 2em;
        color: #ffffff;
        font-style: italic;
        margin-top: 1.8rem;
    }
  }