/* ------------ PORTADA ----------- */
.portada{
    h5{
      font-size: 4em;
      margin-bottom: 20%;
      text-shadow: 4px  6px black;
    }
  }


/*------- PRESENTACION --------- */
.contenido{
    display: flex;
    
    .contrato{
        display: flex;
        margin: 2rem;
        background-color: #757575;
      ol{
          margin: 5rem 2rem ;
         list-style: none;
          text-align: justify;
          li{
              font-style: italic;
              font-family: $font;
              padding: 0.5rem;
              color: #FF9800;
          }
      }
      }
}

/* -------- SIMULADOR ------ */

.tit_simu{
    font-family: $font;
    font-size: 0.5rem;
    margin: 1rem;
}
.simulador{
      text-align: center;
      width: 50%;
      margin-left: 25%;
.form{
    background-color: #1b80bb;
    border:solid 10px #084f79;
    border-radius: 50px;
    color: #ffffff;
    margin-bottom: 1rem;
    h2{
        font-size: 4em;
        padding: 1rem;
        color: #d5d5d5;
    }
    
    .subtitulo{
      font-size: 1em;
      margin: 0.9375em;
    }
    .formstyle{
    width: 100%;
    padding: 10px;
    border-radius: 4px;}

    .btncalcular{
        font-size: 1em;
        padding: 0.5rem;
        border: solid 1px white;
        border-radius: 50px;
        background-color:#084f79;
        color: white;
    }
}}


/* ------ REQUISITOS ----- */

.preguntas{
    margin: 4rem 1rem;
    font-family:$font ;
    font-size: 1em;
    }

    .requisitos{
        padding-left: 20%;
        font-family: $font2;
}

/*----- OPINIONES  ------ */
.opiniones{
    margin: 15% 0rem;
.slide{
    width: 100%;
    align-items: center;
    img{
        margin-left: 13%;
    }
    h5{
        width: 50%;
        margin-left: 53%;
        font-family: $font;
        color: black;
    }
    p{
        margin-left: 55%;
        margin-bottom: 15%;
        font-family: $font;
        color: black; 
    }
}
}    
/* ------- GARANTIA ---------*/
.garantia{
    margin-top: 5rem;
    text-align: center;
    font-size: 2em;
    font-family: $font;
    font-style: italic;
    font-weight: 900;
}