.contenido{
    margin-top: 5rem;
}

.simulador{
    font-size: 1em;
    font-style: italic;
}

.contrato{
  margin: 2rem;
  background-color: #d5d5d5 ;

}
.form{
    border: double rgb(255, 28, 28);
    background-color: #0f1626;
    color: #d5d5d5;
    text-align: center;
    margin: 0 6rem;
    padding: 1rem;
    
}
.formstyle{
    padding-bottom: 0.8rem;
    font-size: 1em;
}