/*------- PRESENTACION --------- */
.contenido{
    display: flex;
    
    .contrato{
        display: flex;
        margin: 2rem;
        background-color: #757575;
      ol{
          margin: 5rem 2rem ;
         list-style: none;
          text-align: justify;
          li{
              font-style: italic;
              font-family: $font;
              padding: 0.5rem;
              color: #FF9800;
          }
      }
      }
}


/* -------- SIMULADOR ------ */

.tit_simu{
    font-family: $font;
    font-size: 0.5rem;
}
.simulador{
      text-align: center;
      width: 60%;
      margin-left: 20%;
.form{
    background-color: #1A374D;
    border: double  #d5d5d5;
    color: #ffffff;
    margin-bottom: 1rem;
    
    .subtitulo{
      font-size: 1em;
      margin: 0.9375rem;
    }
.formstyle{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
  
}}}


/* ------ REQUISITOS ----- */

.preguntas{
    margin: 4rem 1rem;
    font-family:$font ;
    font-size: 1em;
    }

    .requisitos{
        padding-left: 20%;
        font-family: $font2;
    }

/*----- OPINIONES  ------ */
.opiniones{
    margin: 15% 0rem;
.slide{
    width: 100%;
    align-items: center;
    img{
        margin-left: 13%;
    }
    h5{
        width: 50%;
        margin-left: 53%;
        font-family: $font;
        color: black;
    }
    p{
        width: 50%;
        margin-left: 55%;
        margin-bottom: 15%;
        font-family: $font;
        color: black; 
    }
}
}    
/* ------- GARANTIA ---------*/
.garantia{
    margin-top: 5rem;
    text-align: center;
    font-size: 2em;
    font-family: $font;
    font-style: italic;
    font-weight: 900;
}